{
    "wan_filestorage": "/opt/filestorage_wan",
    "wan_host": "localhost",
    "wan_port": 9000,
    "write_key": "devel",
    "wan_certificate": "certificates/cert.pem.devel",
    "username": "name",
    "password": "pwd"
}
