{
    "wan_filestorage": "/opt/filestorage_wan",
    "wan_host": "localhost",
    "wan_port": 9000,
    "wan_write_key": "devel",
    "wan_certificate": "certificates/cert.pem.devel",
    "certificates": ["certificates/cert.pem.devel", "certificates/key.pem.devel"],
    "username": "name",
    "password": "pwd"
}
