{
    "default": {
        "export": true,
        "max_files": 2,
        "delete_by": "version",
        "version": "\\.(\\d+\\.\\d+\\.\\d+)\\."
    },
    "dirs": {
        "test": {
            "include": "zip"
        }
    }
}
